<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeToDisplay.imagePath" alt="{{recipeToDisplay.name}}" class="img-responsive" style="max-height: 200px; border-radius: 5%" >
    </div>
</div>
<div class="row">
    <div class="col-xs 12">
        <h1>{{recipeToDisplay.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeToDisplay.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary dropdown-toggle"> Manage Recipies <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Add Ingredients</a></li>
            <li><a href="#">Edit Ingredinets</a></li>
            <li><a href="#">Delete Ingredinets</a></li> 

        </ul>
    </div>
</div>

<!-- <div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div> -->